*{
    margin: auto;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
}
.slide-container {
    text-align: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1301px;
    text-align: center;
    width: 1300px;
    height: 786px;
}
h1 {
    color: #333;
}
p {
    color: #666;
}
iframe {
    width: 1300px;
    height: 786px;
    border: 10px ;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    max-width: 1302px;
    
}
iframe:hover{
      transition: .5s;
      font-size: 18px;
      box-shadow: 0px 0px 20px rgba(17, 216, 17, 0.834);
      border-radius: 12px;
}
img{
    text-align: center;
    margin: auto;
    min-width:360px ;
    max-width: 1300;
    width: 100%;
}
.nav-buttons {
    padding: 0px;
    margin: auto;
    margin-top: 0px;
    text-align: center right;
}

.nav-buttons:hover{
    padding: 10px 40px;
    font-size: 18px;
    box-shadow: 0px 0px 20px rgba(17, 216, 17, 0.834);
    border-radius: 50px;
    background-color: rgba(42, 48, 48, 0.842);
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
}

.nav-buttons button {
    padding: 11px 22px;
    margin: 5px;
    border: none;
    background-color: rgba(13, 148, 13, 0.719);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}