*{
    margin: auto;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
}
.slide-container {
    text-align: center;
    background-color: white;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1301px;
    text-align: center;
    width: 1300px;
    height: 786px;
}
h1 {
    color: #333;
}
p {
    color: #666;
}
iframe {
    width: 1300px;
    height: 786px;
    border: 10px ;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1302px;
    
}
img{
    text-align: center right;
    margin: auto;
    min-width:360px ;
    max-width: 1300;
    width: 100%;
}
.nav-buttons {
    padding: 0px;
}

.nav-buttons:hover{
    padding: 10px 40px;
    font-size: 18px;
    box-shadow: 0px 0px 20px rgb(13, 20, 20);
    border-radius: 12px;
    background-color: rgba(24, 27, 27, 0.842);
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.nav-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}